h1 {
  font-size: 60px;
}

body{
  display: flex;
  min-height: 100vh;
}
.leftNavigation{
  width: 250px;
  text-align: center;
  background-color: #888;
  color: #fff;
}
.content{
  flex: 1;
  background-color: #eee;
  text-align: center;
  margin-left: 10px;
}

.content2{
  flex-direction: row;
  background-color: #eee;
  text-align: left;
  margin-left: 10px;
}

.content3{
  flex: 0;
  background-color: #eee;
  text-align: left;
  margin-left: 10px;
}
.content4{
  flex: 1;
  background-color: #eee;
  text-align: left;
  margin-left: 10px;
}



.content5{
  flex: 1;
  background-color: #eee;
  text-align: left;
  margin-inline-start:auto;
  label {
    display:flow-root;
    margin-top: 12px; /*ボタン同士の間隔 */
  }
  label input {
    display: none; /* デフォルトのinputは非表示にする */
  }
  label span {
    color: #333; /* 文字色を黒に */
    font-size: 14px; /* 文字サイズを14pxに */
    border: 1px solid #333; /* 淵の線を指定 */
    padding: 5px 120px; /* 上下左右に余白をトル */
  }
  label input:checked + span {
    color: #FFF; /* 文字色を白に */
    background: rgb(199, 199, 199); /* 背景色を薄い赤に */
    border: 1px solid rgb(177, 177, 177); /* 淵の線を薄い赤に */
  }

}
.GGG{
  display: flex;
  text-align: right;
}


.HAYAMI1{
  text-align:left;
  margin-top: left;

}
  /*
  .content6{
    flex: 1;
    background-color: #eee;
    text-align: left;
    margin-left: 10px;
    margin-right: 100px;
    
  }
*/
